<div {{ attributes }}>
    {{ title_prefix }}
    {{ salutation }}
    {% if target %}
        <span class="salutation--target">{{ target }}</span>
    {% endif %}
    {{ title_suffix }}
        <a class="use-ajax" href="{{ url('hello_world.user.hide_block') }}">Kliknij</a>
        <div class="dupa">
            {% trans %}dupa{% endtrans %}
        </div>
        {{ 'param'|t }}

</div>

<div class="content2"></div>